@keyframes fadein {
  0% {
    opacity: 0;
    transform: none;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.aboutUs {
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: Poppins;
  width: 100%;
  height: 100%;
}

/*------------ aBlock1----------------*/
.aBlock1 {
  /* flex container properties */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  margin-top: 0px;
}

.bgImage {
  z-index: 1;
  margin-top: 0px;
  bottom: 0px;
  content: "";

  width: 1920px;
  height: 900px;

  /* animation: fadein 4s ease-in-out; */

  /* display: block;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 
    inset 0 0 20px #151517,
    inset 0 0 20px #151517,
    inset 0 0 20px #151517,
    inset 0 0 20px #151517; */
  /* 
  background: linear-gradient( 
    to bottom,
   rgba(21, 21, 23, 0) 10%,
   rgba(21, 21, 23, 0.5) 20%,
   rgba(21, 21, 23, 0.7) 75%,
   rgba(21, 21, 23, 1) 100%); */
}

.title {
  order: 1;
  z-index: 2;
  position: absolute;

  /*content*/
  width: 721px;
  height: 322px;
  top: 30%;

  /*text*/
  font-size: 80px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  text-align: center;
  line-height: 1.25;
  letter-spacing: -1.28px;
  color: #ffffff;

  /*animation*/
  animation: fadein 4s ease-in-out;
}

.DocsBtn {
  /* order: 2; */
  z-index: 2;
  position: absolute;

  /*content*/
  top: 55%;
  width: 202px;
  height: 53px;
  align-items: center;

  /*text*/
  background-color: #d6f866;
  border-radius: 8px;
  border: solid 1px #e8faad;
  font-size: 22px;
  font-weight: bold;
  color: #151517;
  letter-spacing: -0.66px;
  text-align: center;
  cursor: pointer;

  /*animation*/
  animation: fadein 4s ease-in-out;
}

/* ----------------aBlock2--------------*/

.aBlock2 {
  /* flex container properties */
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  position: relative;
  height: auto;
}

.aBlock2LeftVid {
  order: 1;
  flex: 0 0 720px;
  margin-left: -200px;
  width: 150px;
}

.aBlock2Right {
  /* flex container properties */
  order: 2;
  display: flex;
  flex-direction: column;
  align-items: right;

  /* text */
  text-align: left;
  margin-right: 14%;
}

.aBlock2RightTitle {
  width: 366px;
  height: 144px;
  font-family: Poppins;
  font-size: 36px;
  font-stretch: normal;
  font-style: normal;
  line-height: 48px;
  letter-spacing: -1.08px;
  color: #fff;
  margin-bottom: 48px;

  animation: fadein 3s ease-in-out;
}

.aBlock2RightContent {
  width: 474px;
  height: 140px;
  font-family: Poppins;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  line-height: 28px;
  letter-spacing: -0.36px;
  color: #fff;

  animation: fadein 3s ease-in-out;
}

/* ---------------- aBlock3 ------------------- */

.aBlock3 {
  /* flex container properties */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  margin-top: 50px;
  height: 1400px;
}

.aBlock3CenterTitle {
  width: 369px;
  height: 132px;
  font-family: Poppins;
  font-size: 54px;
  font-stretch: normal;
  font-style: normal;

  line-height: 66px;
  letter-spacing: -1.08px;
  color: #fff;

  animation: fadein 3s ease-in-out;
}

.aBlock3RmapYearTop {
  position: absolute;
  width: 65px;
  height: 28px;
  font-family: Poppins;
  font-size: 28px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.56px;
  color: #fff;
  left: 200px;
  margin-top: 230px;
  animation: fadein 3s ease-in-out;
}

.aBlock3RmapYearBottom {
  position: absolute;
  width: 65px;
  height: 28px;
  font-family: Poppins;
  font-size: 28px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.56px;
  color: #fff;
  left: 200px;
  margin-top: 1332px;
  animation: fadein 3s ease-in-out;
}

.aBlock3RmapBar {
  width: 32px;
  position: absolute;
  left: 311px;
  margin-top: 235px;
}

.aBlock3ContentT1 {
  position: absolute;
  width: 322px;
  height: 28px;
  font-family: Poppins;
  font-size: 24px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.48px;
  line-height: 28px;
  color: #626262;
  text-align: left;
  left: 400px;
  margin-top: 237px;
  animation: fadein 3s ease-in-out;
}

.aBlock3Content1 {
  position: absolute;
  width: 500px;
  height: 56px;
  font-family: Poppins;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.48px;
  line-height: 28px;
  color: #fff;
  text-align: justify;
  left: 400px;
  margin-top: 280px;
  animation: fadein 3s ease-in-out;
}

.aBlock3ContentT2 {
  position: absolute;
  width: 322px;
  height: 28px;
  font-family: Poppins;
  font-size: 24px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.48px;
  line-height: 28px;
  color: #626262;
  text-align: left;
  left: 400px;
  margin-top: 380px;
  animation: fadein 3s ease-in-out;
}

.aBlock3Content2 {
  position: absolute;
  width: 500px;
  height: 84px;
  font-family: Poppins;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.48px;
  line-height: 28px;
  color: #fff;
  text-align: justify;
  left: 400px;
  margin-top: 420px;
  animation: fadein 3s ease-in-out;
}

.aBlock3ContentT3 {
  position: absolute;
  width: 322px;
  height: 28px;
  font-family: Poppins;
  font-size: 24px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.48px;
  line-height: 28px;
  color: #626262;
  text-align: left;
  left: 400px;
  margin-top: 570px;
  animation: fadein 3s ease-in-out;
}

.aBlock3Content3 {
  position: absolute;
  width: 500px;
  height: 84px;
  font-family: Poppins;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.48px;
  line-height: 28px;
  color: #fff;
  text-align: justify;
  left: 400px;
  margin-top: 610px;
  animation: fadein 3s ease-in-out;
}

.aBlock3ContentT4 {
  position: absolute;
  width: 322px;
  height: 28px;
  font-family: Poppins;
  font-size: 24px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.48px;
  line-height: 28px;
  color: #626262;
  text-align: left;
  left: 400px;
  margin-top: 730px;
  animation: fadein 3s ease-in-out;
}

.aBlock3Content4 {
  position: absolute;
  width: 500px;
  height: 84px;
  font-family: Poppins;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.48px;
  line-height: 28px;
  color: #fff;
  text-align: justify;
  left: 400px;
  margin-top: 770px;
  animation: fadein 3s ease-in-out;
}

.aBlock3ContentT5 {
  position: absolute;
  width: 322px;
  height: 28px;
  font-family: Poppins;
  font-size: 24px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.48px;
  line-height: 28px;
  color: #626262;
  text-align: left;
  left: 400px;
  margin-top: 890px;
  animation: fadein 3s ease-in-out;
}

.aBlock3Content5 {
  position: absolute;
  width: 500px;
  height: 84px;
  font-family: Poppins;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.48px;
  line-height: 28px;
  color: #fff;
  text-align: justify;
  left: 400px;
  margin-top: 930px;
  animation: fadein 3s ease-in-out;
}

.aBlock3ContentT6 {
  position: absolute;
  width: 322px;
  height: 28px;
  font-family: Poppins;
  font-size: 24px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.48px;
  line-height: 28px;
  color: #626262;
  text-align: left;
  left: 400px;
  margin-top: 1050px;
  animation: fadein 3s ease-in-out;
}

.aBlock3Content6 {
  position: absolute;
  width: 500px;
  height: 84px;
  font-family: Poppins;
  font-size: 18px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.48px;
  line-height: 28px;
  color: #fff;
  text-align: justify;
  left: 400px;
  margin-top: 1090px;
  animation: fadein 3s ease-in-out;
}

/* ---------------- aBlock4 ------------------- */

.aBlock4 {
  /* flex container properties */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  margin-top: 50px;
  height: 700px;
}

.aBlock4Title {
  position: absolute;
  width: 262px;
  height: 66px;
  font-family: Poppins;
  font-size: 48px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -1.08px;
  line-height: 66px;
  color: #fff;
  text-align: left;
  left: 120px;
  margin-top: 10px;
  animation: fadein 3s ease-in-out;
}

.aBlock4Row {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  position: relative;
  margin-top: 100px;
}

/*---------Box in Block4----------*/

.Boxcontrol {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  position: relative;
}

.SummerBox {
  margin-top: 70px;
  width: 250px;
  height: 700px;
  align-items: center;
}

.BlockcodesBox {
  margin-top: 70px;
  width: 250px;
  height: 700px;
  align-items: center;
}

.KokoBox {
  margin-top: 70px;
  width: 250px;
  height: 700px;
  align-items: center;
}

.PannaBox {
  margin-top: 70px;
  width: 250px;
  height: 700px;
  align-items: center;
}

.MeanBox {
  margin-top: 70px;
  width: 250px;
  height: 700px;
  align-items: center;
}

/*-------Summer-------*/

.aBlock4Summer {
  width: 180px;
  height: 302px;
  align-items: center;
  margin-left: 30px;
}

.aBlock4SummerCont1 {
  position: absolute;
  width: 71px;
  height: 28px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.48px;
  line-height: 28px;
  color: #626262;
  text-align: left;
  margin-left: 20px;
}

.aBlock4SummerCont2 {
  position: absolute;
  width: 71px;
  height: 28px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.48px;
  line-height: 28px;
  color: #fff;
  text-align: left;
  margin-left: 20px;
  margin-top: 30px;
}

.aBlock4SummerCont3 {
  position: absolute;
  width: 200px;
  height: 100px;
  font-family: Poppins;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.48px;
  line-height: 20px;
  color: #fff;
  text-align: left;
  margin-left: 20px;
  margin-top: 70px;
}

/*-------Blockcodes-------*/

.aBlock4Blockcodes {
  width: 180px;
  height: 302px;
  align-items: center;
  margin-left: 30px;
}

.aBlock4BlockcodesCont1 {
  position: absolute;
  width: 71px;
  height: 28px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.48px;
  line-height: 28px;
  color: #626262;
  text-align: left;
  margin-left: 20px;
}

.aBlock4BlockcodesCont2 {
  position: absolute;
  width: 71px;
  height: 28px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.48px;
  line-height: 28px;
  color: #fff;
  text-align: left;
  margin-left: 20px;
  margin-top: 30px;
}

.aBlock4BlockcodesCont3 {
  position: absolute;
  width: 200px;
  height: 100px;
  font-family: Poppins;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.48px;
  line-height: 20px;
  color: #fff;
  text-align: left;
  margin-left: 20px;
  margin-top: 70px;
}

/*-------Koko-------*/

.aBlock4Koko {
  width: 180px;
  height: 302px;
  align-items: center;
  margin-left: 30px;
}

.aBlock4KokoCont1 {
  position: absolute;
  width: 71px;
  height: 28px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.48px;
  line-height: 28px;
  color: #626262;
  text-align: left;
  margin-left: 20px;
}

.aBlock4KokoCont2 {
  position: absolute;
  width: 71px;
  height: 28px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.48px;
  line-height: 28px;
  color: #fff;
  text-align: left;
  margin-left: 20px;
  margin-top: 30px;
}

.aBlock4KokoCont3 {
  position: absolute;
  width: 200px;
  height: 100px;
  font-family: Poppins;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.48px;
  line-height: 20px;
  color: #fff;
  text-align: left;
  margin-left: 20px;
  margin-top: 70px;
}

/*-------Panna-------*/

.aBlock4Panna {
  width: 180px;
  height: 302px;
  align-items: center;
  margin-left: 30px;
}

.aBlock4PannaCont1 {
  position: absolute;
  width: 71px;
  height: 28px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.48px;
  line-height: 28px;
  color: #626262;
  text-align: left;
  margin-left: 20px;
}

.aBlock4PannaCont2 {
  position: absolute;
  width: 71px;
  height: 28px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.48px;
  line-height: 28px;
  color: #fff;
  text-align: left;
  margin-left: 20px;
  margin-top: 30px;
}

.aBlock4PannaCont3 {
  position: absolute;
  width: 200px;
  height: 100px;
  font-family: Poppins;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.48px;
  line-height: 20px;
  color: #fff;
  text-align: left;
  margin-left: 20px;
  margin-top: 70px;
}

/*-------Mean-------*/

.aBlock4Mean {
  width: 180px;
  height: 302px;
  align-items: center;
  margin-left: 30px;
}

.aBlock4MeanCont1 {
  position: absolute;
  width: 71px;
  height: 28px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.48px;
  line-height: 28px;
  color: #626262;
  text-align: left;
  margin-left: 20px;
}

.aBlock4MeanCont2 {
  position: absolute;
  width: 71px;
  height: 28px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.48px;
  line-height: 28px;
  color: #fff;
  text-align: left;
  margin-left: 20px;
  margin-top: 30px;
}

.aBlock4MeanCont3 {
  position: absolute;
  width: 200px;
  height: 100px;
  font-family: Poppins;
  font-size: 14px;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: -0.48px;
  line-height: 20px;
  color: #fff;
  text-align: left;
  margin-left: 20px;
  margin-top: 70px;
}

.buttonlist {
  text-align: center;
}

.buttonleft {
  all: unset;
  width: 70px;
  margin-top: 30px;
  margin-left: 780px;
  color: #fff;
  cursor: pointer;  
}

.buttonright {
  all: unset;
  width: 70px;
  margin-top: 30px;
  margin-left: 15px;
  color: #fff;
  cursor: pointer;
}
