.title {
  color: #f5f5f5;
  font-family: Poppins;
  text-align: center;
  margin-top: 155px;
}

.btnDefault {
  position: relative;
  width: 402px;
  height: 80px;
  font-size: 28px;
  font-family: Poppins;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.84px;
  text-align: left;
  margin-bottom: 16px;
  padding-left: 116px;
  background-color: #d6f866;
  color: #151517;
  border-radius: 6px;
  border: solid 1px #e8faad;
  opacity: 0.3;
  cursor: default;
}

.btnDisable {
  position: relative;
  width: 402px;
  height: 80px;
  font-size: 28px;
  font-family: Poppins;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.84px;
  text-align: left;
  margin-bottom: 16px;
  padding-left: 116px;
  background-color: #d6f866;
  color: #151517;
  border-radius: 6px;
  border: solid 1px #e8faad;
  opacity: 0.3;
  cursor: default;
}

.btnDisable:hover {
  opacity: 0.3;
  cursor: default;
}

.btnDefault:hover {
  opacity: 1;
  cursor: pointer;
}

.btnIcon {
  position: absolute;
  top: 14px;
  left: 36px;
  width: 52px;
}

.connectionLoading {
  text-align: cetner;
  font-family: Poppins;
}

.setNickNamePage {
  text-align: center;
  font-family: Poppins;
}

.setNickNamePageTitle {
  font-family: Poppins;
  font-size: 36px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #f5f5f5;
  margin-top: 155px;
}

.setNickNamePageBox {
  position: relative;
  width: 470px;
  height: 430px;
  margin-top: 43px;
  border-radius: 14px;
  background-color: #d6f866;
}

.setNickNamePageWalletSymbol {
  position: absolute;
  left: 6%;
  top: 4.7%;
  width: 20px;
  height: 20px;
}

.setNickNamePageWalletName {
  position: absolute;
  left: 11.9%;
  top: 4.9%;
  width: auto;
  height: auto;
  flex-grow: 0;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.36px;
  text-align: left;
  color: #4f4f54;
}

.setNickNamePageChainName {
  position: absolute;
  left: 28.9%;
  top: 4.9%;
  width: auto;
  height: auto;
  flex-grow: 0;
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.36px;
  text-align: left;
  color: #4f4f54;
}

.setNickNamePageRandomAvatar {
  position: absolute;
  left: 35.1%;
  top: 13.7%;
  width: 140px;
  height: 140px;
}

.setNickNamePageUserAddress {
  position: absolute;
  top: 50.5%;
  width: 470px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.54px;
  text-align: center;
  color: #151517;
}

.setNickNamePageInputNicknameBox {
  position: absolute;
  top: 61.9%;
  left: 6%;
  border-radius: 8px;
}

input::placeholder {
  color: #bdbebe;
}

.setNickNamePageInputNickname {
  width: 414px;
  background-color: #fff;
  color: #bdbebe;
  border-radius: 8px;
  border: solid 1px #bdbebe;
  font-family: Poppins;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.54px;
  text-align: left;
  padding-left: 18px;
  padding-top: 11px;
  padding-bottom: 12px;
}

.setNickNamePageInputNicknameAvailable {
  width: 414px;
  background-color: #bccfff;
  color: #bdbebe;
  border-radius: 8px;
  border: solid 1px #bdbebe;
  font-family: Poppins;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.54px;
  text-align: left;
  padding-left: 18px;
  padding-top: 11px;
  padding-bottom: 12px;
}

.setNickNamePageInputNicknameDenied {
  width: 414px;
  background-color: #ffb2b2;
  color: #bdbebe;
  border-radius: 8px;
  border: solid 1px #bdbebe;
  font-family: Poppins;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.54px;
  text-align: left;
  padding-left: 18px;
  padding-top: 11px;
  padding-bottom: 12px;
}

.setNickNamePageInputDoneButtonBox {
  position: absolute;
  top: 80.5%;
  left: 32.6%;
  width: 163px;
  height: 44px;
  border-radius: 8px;
  border: solid 0px;
  background: #bdbebe;
}

.setNickNamePageInputDoneButton {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: solid 0px;
  background: #bdbebe;
}

.setNickNamePageInputDoneButtonActivate {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  border: solid 0px;
  background: #151517;
  cursor: pointer;
}

.failedConnectionPage {
  text-align: cetner;
  font-family: Poppins;
  align-items: center;
  width: 1920px;
}

.bigXLogo {
  width: 240px;
  height: 240px;
  margin-left: 43.8%;
  margin-top: 173px;
}

.textConnectionFailed {
  font-family: Poppins;
  font-size: 36px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #f5f5f5;
  margin-top: 30px;
}

.buttonTryAgain {
  /* button */
  width: 220px;
  height: 62px;
  margin-top: 36px;
  margin-left: 44.2%;
  border-radius: 6px;
  border: solid 1px #d6f866;
  background-color: #151517;
  cursor: pointer;

  /* text */
  font-family: Poppins;
  font-size: 28px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.84px;
  text-align: center;
  color: #d6f866;
}

.textGoGetAMetamask {
  font-family: Poppins;
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #f5f5f5;
  margin-top: 40px;
}
