.menuBar {
  position: relative;
  display: flex;
  font-size: 17px;
  font-weight: 500;
  max-width: 1440px;
  justify-content: left;
  background: #151517;
  font-family: Poppins;
}

.logo {
  align-items: center;
  width: 140px;
  margin-top: 9px;
  margin-bottom: 9px;
}

.icon {
  position: absolute;
  margin-top: 9.7px;
  margin-left: 13px;
  width: 26.6px;
  height: 26.6px;
  cursor: default;
}

.menuItem {
  background-color: #151517;
  height: fit-content;
  font-size: 20px;
}

.headerRight {
  margin-left: 263px;
  gap: 20px;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
  cursor: default;
}

.connectBtn {
  height: 44px;
  line-height: 44px;
  width: 147px;
  border: 1px solid #d6f866;
  border-radius: 6px;
  color: #d6f866;
  background-color: #151517;
  cursor: pointer;
  font-size: 16px;
}
