@keyframes fadein {
  0% {
    opacity: 0;
    transform: none;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.Landing {
  color: #f5f5f5;
  font-family: Poppins;
  text-align: center;
  overflow: hidden;
  width: 1920px;
  height: 5240px;
}

.Block1Title {
  position: relative;
  font-family: Poppins;
  font-size: 4.62vw;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: -1.28px;
  text-align: center;
  color: #fff;
}

.Block1Content {
  animation: fadein 3s ease-in-out;
  position: relative;
  font-family: Poppins;
  font-size: 1.68vw;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin-top: 56px;
  color: var(--raffle-white);
}

.Block1Btn {
  animation: fadein 3s ease-in-out;

  z-index: 2;
  position: relative;
  background-color: #d6f866;
  width: 253px;
  height: 53px;
  border-radius: 8px;
  border: solid 1px #e8faad;
  font-size: 22px;
  font-weight: bold;
  color: #151517;
  letter-spacing: -0.66px;
  cursor: pointer;

  margin-top: 72px;
}

.Block2Left {
  margin-left: 14%;
  text-align: left;
  float: left;
  width: 32%;
}

.Block2LeftTitle {
  animation: fadein 3s ease-in-out;
  font-family: Poppins;
  font-size: 54px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: -1.28px;
  color: #fff;
  margin-bottom: 48px;
}

.Block2LeftContents {
  /* top: 25%;
    left: 34%; */
  animation: fadein 3s ease-in-out;
  font-family: Poppins;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--raffle-white);
}

.Block2Right {
  text-align: left;
  float: left;
  width: 35%;
}

.Block2RightContents {
  width: 974px;
  height: 574px;
}

.Block3Title {
  position: relative;
  z-index: 2;
  animation: fadein 3s ease-in-out;
  font-family: Poppins;
  font-size: 54px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: var(--raffle-white);
}

.Block3Image {
  position: relative;
  z-index: 2;
  animation: fadein 3s ease-in-out;
  margin-top: 72px;
  width: 945px;
  height: 364px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.Block3Content {
  position: relative;
  z-index: 2;
  margin-top: 84px;
  text-align: left;
  overflow: auto;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: -0.36px;
}

.B3CLeft {
  margin-left: 519px;
  float: left;
}

.B3CRight {
  margin-left: 54px;
  float: left;
}

.Block4Left {
  margin-left: 14%;
  float: left;
}

.Block4LeftTitle {
  width: 315px;
  height: 160px;
  font-family: Poppins;
  font-size: 54px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: -1.44px;
  text-align: left;
  color: #fff;
}

.Block4LeftContent {
  margin-top: 48px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: -0.36px;
  text-align: left;
  color: #fff;
}

.Block4Right {
  float: right;
  width: 1024px;
  height: 480px;
}

.Block5Left {
  float: left;
  width: 820px;
  height: 731px;
}

.Block5Right {
  float: left;
  margin-left: 200px;
}

.Block5RightTitle {
  position: relative;
  z-index: 2;
  margin-top: 204px;
  font-family: Poppins;
  font-size: 54px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.11;
  letter-spacing: -1.44px;
  text-align: left;
  color: #fff;
}

.Block5RightContent {
  position: relative;
  z-index: 2;
  margin-top: 38px;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: -0.36px;
  text-align: left;
  color: #fff;
}

.Block6Title {
  position: relative;
  z-index: 2;
  margin-bottom: 72px;
  font-family: Poppins;
  font-size: 88px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: -1.76px;
  text-align: center;
  color: #fff;
}
/* .Portfolio {
    width: 947px;
    height: 574px;
    top: 33%;
    left: 5%;
    /* position: relative; */
/* overflow: hidden;
    animation: fadein 3s ease-in-out;
    flex-grow: 0;
}

.Portfolio2 {
    width: 947px;
    height: 574px;
    top: 33%;
    left: 5%;
    /* position: relative; */
/* overflow: hidden;
    animation: fadein 3s ease-in-out;
    flex-grow: 0;
}  */

/* ---------------- Blocks ------------------- */
.Block1 {
  z-index: 2;
  margin-top: 192px;
  overflow: hidden;
}

.Block2 {
  z-index: 2;
  margin-top: 281px;
  height: 591;
  overflow: hidden;
}

.Block3 {
  z-index: 2;
  margin-top: 283px;
  overflow: hidden;
}

.Block4 {
  z-index: 2;
  margin-top: 377px;
  overflow: hidden;
}

.Block5 {
  z-index: 2;
  margin-top: 206px;
  overflow: hidden;
}

.Block6 {
  z-index: 2;
  margin-top: 248px;
}

/* -------------- Blur Images ---------------- */

.Blur1 {
  z-index: 1;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  margin-left: 32.6%;
  margin-top: -8.2%;
  /* object-fit: contain; */
  animation: fadein 3s ease-in-out;
}

.Blur2 {
  z-index: 1;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  margin-left: 3.5%;
  margin-top: -20%;
  /* object-fit: contain; */
  animation: fadein 3s ease-in-out;
}

.Blur3 {
  z-index: 1;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;

  margin-left: 45%;
  margin-top: 2%;
  /* object-fit: contain; */
  animation: fadein 3s ease-in-out;
}
