@keyframes fadein {
  0% {
    opacity: 0;
    transform: none;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.LandingContainer {
  z-index: 2;

  /* flex container properties */
  display: block;
  flex-direction: column;
  align-items: center;

  max-width: 102.4rem;
  height: 100%;
}

.Block1Title {
  /* flex item properties*/
  order: 1;

  width: 40.4rem;
  height: 10.8rem;
  font-family: Poppins;
  font-size: 4.4rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.23;
  letter-spacing: -0.088rem;
  text-align: center;
  color: #fff;
}

.Block1Content {
  /* flex item properties*/
  order: 2;

  /* content */
  width: 32.6rem;
  height: 5.4rem;
  margin-top: 2rem;

  /* text */
  font-family: Poppins;
  font-size: 1.8rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: -0.036rem;
  text-align: center;
  color: #fff;

  /* animation */
  animation: fadein 3s ease-in-out;
}

.Block1Btn {
  /* flex item properties*/
  order: 3;

  /* content */
  z-index: 2;
  width: 19rem;
  height: 4rem;
  background-color: #d6f866;
  border: solid 1px #e8faad;
  border-radius: 0.8rem;
  margin-top: 4.8rem;

  /* text */
  font-family: Poppins;
  font-size: 1.4rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.042rem;
  text-align: center;
  color: #151517;

  /* animation */
  animation: fadein 3s ease-in-out;
}

/* ----- Block2 items ----- */
.Block2Left {
  /* flex container properties */
  display: flex;
  flex-direction: column;
  align-content: stretch;

  /* flex items properties */
  flex: 0 0 auto;

  /* content */
  margin-left: 14.8rem;
  margin-top: 1.4rem;
  overflow: hidden;

  /* text */
  text-align: left;
}

.Block2LeftTitle {
  width: auto;
  height: auto;
  animation: fadein 3s ease-in-out;
  font-family: Poppins;
  font-size: 3.6rem;
  font-weight: Medium;
  font-stretch: normal;
  font-style: normal;
  line-height: 4.8rem;
  letter-spacing: -2%;
  color: #fff;
  margin-bottom: 3.6rem;
}

.Block2LeftContents {
  /* top: 25%;
    left: 34%; */
  width: 30rem;
  height: auto;
  animation: fadein 3s ease-in-out;
  font-family: Poppins;
  font-size: 1.4rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.1rem;
  letter-spacing: -2%;
  color: #fff;
}

.Block2Right {
  align-self: stretch;
}

.Block2RightContents {
  width: 43.8rem;
  height: 26.6rem;
}

.Block3Title {
  /* flex item properties */
  order: 1;

  z-index: 2;
  width: auto;
  height: 4.8rem;

  animation: fadein 3s ease-in-out;
  font-family: Poppins;
  font-size: 3.55rem;
  font-weight: Medium;
  font-stretch: normal;
  font-style: normal;
  line-height: 4.8rem;
  letter-spacing: -2%;
  text-align: center;
  color: #fff;
}

.Block3Image {
  /* flex item properties */
  order: 2;

  z-index: 2;
  animation: fadein 3s ease-in-out;
  margin-top: 2.4rem;
  width: 42.2rem;
  height: 23.7rem;
}

.Block3Content {
  /* flex item properties */
  order: 3;

  z-index: 2;

  width: 42.2rem;
  height: auto;
  margin-top: 4rem;

  text-align: left;
  font-size: 1.35rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.1rem;
  letter-spacing: -2%;
}

.Block4Left {
  /* flex items properties */
  order: 1;

  width: 36.1rem;
  height: 17.1rem;

  margin-left: 14.8rem;
  margin-top: 5rem;
}

.Block4Right {
  /* flex items properties */
  order: 2;

  /* flex container properties */
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-left: 4.9rem;
}

.Block4RightTitle {
  /* flex items properties */
  order: 1;

  width: auto;
  font-family: Poppins;
  font-size: 3.6rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 4.8rem;
  letter-spacing: -2%;
  text-align: left;
  color: #fff;
}

.Block4RightContent {
  /* flex items properties */
  order: 2;

  margin-top: 3.6rem;
  width: 31.8rem;
  height: auto;
  font-family: Poppins;
  font-size: 1.4rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.1rem;
  letter-spacing: -2%;
  text-align: left;
  color: #fff;
}

.Block5Left {
  /* flex items properties */
  order: 1;
  justify-self: flex-end;

  /* flex container properties */
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-left: 14.8rem;
}

.Block5LeftTitle {
  /* flex items properties */
  order: 1;

  z-index: 2;
  width: auto;
  margin-top: 3rem;
  font-family: Poppins;
  font-size: 3.6rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 4.8rem;
  letter-spacing: -2%;
  text-align: left;
  color: #fff;
}

.Block5LeftContent {
  /* flex items properties */
  order: 2;

  z-index: 2;
  width: 31.8rem;
  height: auto;

  margin-top: 3.6rem;
  font-family: Poppins;
  font-size: 1.4rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.1rem;
  letter-spacing: -2%;
  text-align: left;
  color: #fff;
}

.Block5Right {
  /* flex items properties */
  order: 2;

  width: 33.6rem;
  height: 30.1rem;
  margin-left: 1.7rem;
}

.Block6Title {
  /* flex item properties */
  order: 1;

  z-index: 2;
  width: auto;
  margin-bottom: 4.8rem;
  font-family: Poppins;
  font-size: 4.4rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 5.4rem;
  letter-spacing: -2%;
  text-align: center;
  color: #fff;
}

.Block6Btn {
  /* flex item properties*/
  order: 2;
  flex-grow: 0;

  animation: fadein 3s ease-in-out;

  z-index: 2;
  background-color: #d6f866;
  width: 19rem;
  height: 4.2rem;
  border-radius: 0.8rem;
  border: solid 1px #e8faad;
  font-size: 1.4rem;

  font-weight: bold;
  color: #151517;
  letter-spacing: -0.66px;
  cursor: pointer;

  text-align: center;

  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* ---------------- Blocks ------------------- */
.Block1 {
  /* flex container properties */
  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 2;
  margin-top: 10.8rem;
  overflow: hidden;
}

.Block2 {
  /* flex container properties */
  display: flex;
  flex-direction: row;
  align-items: stretch;
  row-gap: 0rem;

  z-index: 2;
  margin-top: 17.4rem;
}

.Block3 {
  /* flex container properties */
  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 2;
  margin-top: 17.5rem;
}

.Block4 {
  /* flex container properties */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0rem;

  width: auto;

  z-index: 2;
  margin-top: 18rem;
}

.Block5 {
  /* flex container properties */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 1.7rem;

  z-index: 2;
  margin-top: 18rem;
}

.Block6 {
  /* flex container properties */
  display: flex;
  flex-direction: column;
  align-items: center;

  z-index: 2;
  margin-top: 18rem;
  margin-bottom: 16rem;
}

/* -------------- Blur Images ---------------- */

.Blur1 {
  z-index: 1;
  overflow: hidden;
  position: absolute;

  width: 70.3rem;
  height: 60rem;

  /* (temporary) % for small screen */
  margin-left: 638px;
  margin-right: 0px;
  top: -60px;
  animation: fadein 3s ease-in-out;
}

.Blur2 {
  z-index: 1;
  overflow: hidden;
  position: absolute;

  width: 1377px;
  height: 1662px;
  margin-left: 300px;
  margin-right: 800px;
  top: 1443px;
  animation: fadein 3s ease-in-out;
}

.Blur3 {
  z-index: 1;
  overflow: hidden;
  position: absolute;
  width: 1242px;
  height: 1393px;

  margin-left: 710px;
  margin-right: 0px;
  top: 3120px;
  /* object-fit: contain; */
  animation: fadein 3s ease-in-out;
}
