.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after,
.ant-menu.ant-menu-dark {
  background-color: #151517;
  color: red;
}

/* For GNB Buttons */
.ant-menu-dark .ant-menu-item > span > a {
  color: #f5f5f5;
}

.ant-menu-horizontal > .ant-menu-item-selected {
  background-color: #151517 !important;
}
.ant-menu-horizontal > .ant-menu-item:hover {
  background-color: #151517 !important;
}

.ant-menu-horizontal > .ant-menu-item-selected a {
  color: #e8faad !important;
}

.ant-menu-horizontal > .ant-menu-item a:hover {
  color: #e8faad !important;
}

.ant-modal-content {
  overflow: auto;
  border-radius: 1rem;
}

input:focus {
  outline: none;
}
