.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected::after,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected::after,
.ant-menu.ant-menu-dark {
  background-color: #151517;
  color: red;
}

.ant-layout {
  min-height: 100vh;
  background-color: #151517;
}
<<<<<<< HEAD
=======

>>>>>>> 26222b36c52abd5d7eaacd6bf3c3cbf7609e03a5
/* For GNB Buttons */
.ant-menu-dark .ant-menu-item > span > a {
  color: #f5f5f5;
}

.ant-menu-horizontal > .ant-menu-item-selected {
  background-color: #151517 !important;
}
.ant-menu-horizontal > .ant-menu-item:hover {
  background-color: #151517 !important;
}

.ant-menu-horizontal > .ant-menu-item-selected a {
  color: #e8faad !important;
}

.ant-menu-horizontal > .ant-menu-item a:hover {
  color: #e8faad !important;
}

.ant-modal-content {
  overflow: auto;
  border-radius: 1rem;
}

input:focus {
  outline: none;
}

/* App.jsx */
.header {
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 72px;
  background: #151517;
  display: flex;
  justify-content: center;
  align-self: center;
  font-family: Roboto, sans-serif;
  border-bottom: 5px solid rgba(47, 47, 47, 1);
  padding: 0px;
}

.headerRight {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
}

.content {
  display: flex;
  justify-content: center;
  font-family: Poppins, sans-serif;
  color: #f5f5f5;
  background-color: #151517;
  margin-top: 72px;
  padding: 10px;
}

.footer {
  align-items: left;
  background-color: #151517;
  color: #bdbebe;
}
